.navbar-color{
    background-color: #b4b4c2 ;
}

.card-body {
  background-color: #b4b4c2;
}

.ocultar {
  display: none;
}

.btn {
  border: none;
}

.btn-border:hover {
  border: 1px solid black;
}

.subrayable {
  position: relative;
  display: inline-block;
}

.subrayable {
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.subrayable::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: #1E1E2E;
  transition: width 0.4s ease-in-out;
}

.subrayable:hover::after {
  width: 65%; /* solo subraya el 80% del texto */
}

a{
  color: inherit;
  text-decoration: none;
}